<div class="container">
	<div class="leaderboard-container">
		<h1>LEADERBOARD</h1>
		<select [(ngModel)]="selectedGenre" (change)="onGenreChange()">
			<option *ngFor="let genre of genres" [value]="genre">{{ genre }}</option>
		</select>
		<div class="leaderboard">
			<div class="leaderboard-header">
				<span>Rank</span>
				<span>Name</span>
				<span>Score</span>
			</div>
			<div
				class="leaderboard-entry"
				*ngFor="let entry of leaderboard; let i = index"
			>
				<span>{{ i + 1 }}</span>
				<span>{{ entry.name }}</span>
				<span>{{ entry.score }}</span>
			</div>
		</div>
	</div>
</div>
