  .navbar {
    background-color: #333; 
    display: flex;
    align-items: center;
    padding: 0 20px; 
  }
  
  .navbar a {
    color: white;
    padding: 20px;
    text-decoration: none;
    transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
  }
  
  .navbar-spacer {
    flex-grow: 1;
  }
  
  .navbar a:hover, .navbar a.active {
    color: #04AA6D; 
    border-bottom: 2px solid #04AA6D; 
  }
  
  .navbar a i {
    margin-right: 8px;
  }