.navbar {
    background-color: black;
    overflow: hidden;
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
  }
  
  .navbar a {
    display: flex; 
    color: white;
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;
  }
  
  .navbar-spacer {
    flex-grow: 1; 
  }
  
  .navbar a:hover {
    color: #04AA6D;
  }
  
  .active {
    background-color: #04AA6D;
  
  }
  .navbar a i {
    margin-right: 8px;
    color: white;
    vertical-align: middle;
    margin-top:2px; 
  }