<div
	*ngIf="showCountdown; else gameContent"
	class="flex min-h-screen bg-base-100 justify-center pt-40"
>
	<div class="modal-box w-3/4 h-3/4 text-center bg-base-300">
		<div class="countdown-message">
			<span class="text-primary">Game begins in</span>
			<span class="countdown-number">{{ countdown }}</span>
		</div>
	</div>
</div>

<ng-template #gameContent>
	<div class="flex flex-col align-center pt-10 bg-base-100 min-h-screen">
		<h1
			class="text-7xl font-black text-primary grid place-content-center"
			*ngIf="gameSettings.gameType === 'song'"
		>
			Guess The Song.
		</h1>
		<div class="flex justify-center">
			<h1
				class="text-7xl font-black text-primary grid place-content-center"
				*ngIf="gameSettings.gameType === 'artist'"
			>
				Guess The Artist.
			</h1>
		</div>

		<div class="flex justify-between px-10 pt-6">
			<div>
				<div class="stats shadow">
					<div class="stat text-center">
						<div class="stat-title">Time</div>
						<span class="countdown font-mono text-8xl">
							<span style="--value: {{ timeLeft }}"></span>
						</span>
					</div>
				</div>
			</div>

			<div class="flex flex-col w-full">
				<div class="divider divider-start divider-neutral"></div>
				<div class="divider divider-neutral">
					<ng-container *ngIf="currentTrack">
						<app-audio-snippet
							[song]="currentTrack.preview_url"
						></app-audio-snippet>
					</ng-container>
				</div>
				<div class="divider divider-end divider-neutral"></div>
			</div>

			<div>
				<div class="stats shadow">
					<div class="stat text-center">
						<div class="stat-title">Score</div>
						<span class="countdown font-mono text-8xl">
							<span style="--value: {{ score }}"></span>
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="flex justify-center pt-10 z-1">
			<div class="card w-3/5 h-3/4 bg-base-300 shadow-xl">
				<div class="card-body">
					<div class="pb-6">
						<h2 class="card-title"></h2>
						<app-guess-input
							[options]="options"
							(guessMade)="handleGuess($event)"
						></app-guess-input>
					</div>
				</div>
			</div>
		</div>

		<div
			*ngIf="feedbackVisible"
			class="toast toast-end toast-bottom"
			[ngClass]="{ 'toast-slide-out': feedbackSlideOut }"
		>
			<div *ngIf="isCorrectAnswer" class="alert alert-success">
				<div>
					<span>Correct! 🌟</span>
				</div>
			</div>

			<div *ngIf="isCorrectAnswer === false" class="alert alert-warning">
				<div>
					<span>Better luck next time. 😕</span>
				</div>
			</div>
		</div>
	</div>
</ng-template>
