
<div *ngIf="showCountdown; else gameContent" class="countdown-container">
    <div class="countdown-message">
        <span>GAME BEGINS IN</span>
        <span class="countdown-number">{{ countdown }}</span>
    </div>
    <div class="game-settings-preview">
        <p>CURRENT GAME SETTINGS:</p>
        <ul>
            <li>Genre: {{ gameSettings.genre }}</li>
            <li>Difficulty: {{ gameSettings.difficulty }}</li>
            <li>Game Type: {{ gameSettings.gameType }}</li>
        </ul>
    </div>
</div>


<ng-template #gameContent>
	<div class="container">
		<div class="timer" [ngClass]="{ 'timer-red': timeLeft <= 10 }">
			<h2>{{ timeLeft }}</h2>
		</div>
		<div class="songContainer">
			<h1 class="title">BEAT THE BEAT</h1>
			<ng-container *ngIf="currentTrack">
				<app-audio-snippet [song]="currentTrack.preview_url"></app-audio-snippet>
			</ng-container>
		</div>
		<h2>Score:</h2>
	</div>

	<div class="choiceContainer">
		<h2 *ngIf="gameSettings.gameType === 'song'">WHAT SONG IS PLAYING?</h2>
		<h2 *ngIf="gameSettings.gameType === 'artist'">WHO SINGS THIS SONG?</h2>

		<app-guess-input
			[options]="options"
			(guessMade)="handleGuess($event)"
		></app-guess-input>
	
		<div
			class="feedback-container"
			[ngClass]="{ 'feedback-visible': feedbackVisible }"
		>
			<div
				class="feedback-message"
				[ngClass]="{
					correct: isCorrectAnswer,
					incorrect: isCorrectAnswer === false
				}"
			>
				<span>{{
					isCorrectAnswer ? "Correct! 🌟" : "Better luck next time. 😕"
				}}</span>
			</div>
		</div>
	</div>

	<div *ngIf="currentTrack" class="track-info">
		<p>for dev purposes (delete after)</p>
		<h2>Now Playing: {{ currentTrack.name }}</h2>
		<p>Artist: {{ currentTrack.artists[0].name }}</p>
	</div>
</ng-template>

<div class="container">
  <div class="timer" [ngClass]="{ 'timer-red': timeLeft <= 10 }">
    <h2>{{ timeLeft }}</h2>
  </div>
  <div class="songContainer">
    <h1 class="title">BEAT THE BEAT</h1>
    <ng-container *ngIf="currentTrack">
      <app-audio-snippet [song]="currentTrack.preview_url"></app-audio-snippet>
    </ng-container>
  </div>
  <h2>Score: {{ score }}</h2>
</div>

<div class="choiceContainer">
  <h2 *ngIf="gameSettings.gameType === 'song'">WHAT SONG IS PLAYING?</h2>
  <h2 *ngIf="gameSettings.gameType === 'artist'">WHO SINGS THIS SONG?</h2>

  <app-guess-input [options]="options" (guessMade)="handleGuess($event)"></app-guess-input>
</div>

<div *ngIf="currentTrack" class="track-info">
  <p>for dev purposes (delete after)</p>
  <h2>Now Playing: {{ currentTrack.name }}</h2>
  <p>Artist: {{ currentTrack.artists[0].name }}</p>
</div>

