/* GAME SETTINGS PREVIEW & COUNTDOWN */
.countdown-text {
	font-size: 5rem;
	color: white;
	font-weight: bold;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.countdown-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.75);
	z-index: 1000;
	color: white;
	text-align: center;
}

.countdown-message {
	margin-bottom: 2rem;
	font-size: 2rem;
}

.countdown-number {
	font-size: 14rem;
	font-weight: bold;
	line-height: 1;
	display: block;
}





/* DAISY UI ANSWER FEEDBACK */
.toast-slide-out {
	animation: slideOut 0.5s forwards;
  }
  
  @keyframes slideOut {
	from {
	  opacity: 1;
	}
	to {
	  opacity: 0;
	  transform: translateY(100%);
	}
  }