<div class="flex justify-center pt-40 min-h-screen bg-base-100 ">
	<div class=" text-center">
		<div class="max-w-md">
			<div class="diff aspect-[16/9]">
				<div class="diff-item-1">
					<div
						class="bg-primary text-9xl font-black text-neutral grid place-content-center"
					>
						Beat.
					</div>
				</div>
				<div class="diff-item-2">
					<div
						class="bg-base-100 text-9xl font-black grid place-content-center"
					>
						Beat.
					</div>
				</div>
				<div class="diff-resizer"></div>
			</div>
			<div class="flex flex-col w-full">
				<div class="divider divider-secondary">Your Rhythm, Your Rules.</div>
			</div>
			<h2 class="text-xl font-bold pt-2"></h2>
			<p class="py-6">
				Ready to test your tune IQ? Here’s the drill: Select your playlist, name
				that tune, rack up points and claim your spot!
			</p>
			<a href="/configure">
				<button class="btn btn-primary w-40 ">Lets Roll</button>
			</a>
		</div>
	</div>
</div>
