<div class="title">
  <h1><strong>BEAT THE BEAT</strong></h1>
  <h3><em>Unleash Your Inner Music Guru</em></h3>
</div>
<div class="rules">
  <h2>How to Play:</h2>
  <p class="rule"><strong>Step 1:</strong> Select Your Beat: Choose from a variety of genres to tailor your musical
    journey.
  </p>
  <p class="rule"><strong>Step 2:</strong> Guess the Track: Listen to short snippets and guess the song title or artist
    name.</p>
  <p class="rule"><strong>Step 3:</strong> Rack Up Points: The quicker and more accurately you guess, the higher you
    score.</p>
  <p class="rule"><strong>Step 4:</strong> Claim Your Spot: Enter your name on the leaderboard and see how you stack up
    against other
    music aficionados.
  </p>
</div>