<div class="title">
  <h1>Beat the Beat</h1>
  <h3>Unleash Your Inner Music Guru</h3>
</div>
<div class="rules">
  <h3>How to Play:</h3>
  <ul>
    <li>Step 1: "Select Your Beat: Choose from a variety of genres to tailor your musical journey."</li>
    <li>Step 2: "Guess the Track: Listen to short snippets and guess the song title or artist name."</li>
    <li>Step 3: "Rack Up Points: The quicker and more accurately you guess, the higher you score."</li>
    <li>Step 4: "Claim Your Spot: Enter your name on the leaderboard and see how you stack up against other music
      aficionados."</li>
  </ul>
</div>
<button class="submit-button" (click)="onCustomizeGame()">Customize Game</button>
<button class="submit-button" (click)="onLeaderboard()">Leaderboard</button>
<button class="submit-button" (click)="onStartGame()">Game</button>