.title {
    font-size: 36px;
    text-align: center;
    color: #04AA6D;
}

.rules {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 420px;
    margin-right: 420px;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.rule {
    margin-left: 5px;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.start-button {
    background-color: #04AA6D;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.start-button:hover {
    background-color: #048c5a;
}

.start-button:active {
    background-color: #037050;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}